[submodule "deps/SO_hostap"]
	path = deps/SO_hostap
	url = https://github.com/cablelabs/SO_hostap.git
[submodule "deps/SO_IoTivity-Lite"]
	path = deps/SO_IoTivity-Lite
	url = https://github.com/cablelabs/SO_IoTivity-Lite.git
	ignore = dirty
