[Desktop Entry]
Type=Application
Name=SO Lightswitch
Exec=/bin/bash -c 'set -a && . /etc/opt/streamlined_onboarding/prod.env && python -m slined_onboarding.lightswitch'
