[Unit]
Description=Streamlined onboarding's modified hostapd
Before=dnsmasq.service
After=network.target

[Service]
Type=simple
Environment=DAEMON_CONF=/etc/opt/streamlined_onboarding/so_hostapd.conf
ExecStart=/opt/streamlined_onboarding/bin/hostapd $DAEMON_OPTS ${DAEMON_CONF}

[Install]
WantedBy=multi-user.target
