[Unit]
Description=Streamlined onboarding's modified hostapd
Before=dnsmasq.service
After=network.target

[Service]
Type=simple
Environment=DAEMON_CONF=/usr/local/etc/streamlined_onboarding/so_hostapd.conf
ExecStart=/usr/local/bin/hostapd $DAEMON_OPTS ${DAEMON_CONF}

[Install]
WantedBy=multi-user.target
